@model KinoProject.Models.User
@{
    ViewData["Title"] = "Register Page";
}
<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    @Html.TextBox("name")
    @Html.ValidationMessageFor(model => model.Name)
    
    @Html.TextBox("mail")
    @Html.ValidationMessageFor(model => model.Mail)

    @Html.TextBox("pass")
    @Html.ValidationMessageFor(model => model.Password)

    <button type="submit">Subscribe</button>
}
